.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -4rem;
  text-align: center;
}

.header__column {
  margin-right: 4rem;
}

.header__caption {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.header__list {
  break-inside: avoid;
  font-size: 1.08em;
  line-height: 1.5;
  list-style: none;
  margin-bottom: 2rem;
}

.header__photo {
  align-self: stretch;
  background: no-repeat center/contain;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 200px;
  justify-self: stretch;
  margin-bottom: 2rem;
  width: 200px;
}
