.resumae {
  display: flex;
  max-height: 100vh;
}

@media print {
  .resumae__editor {
    display: none;
  }
}

@media screen {
  .resumae {
    overflow: hidden;
  }

  .resumae__editor {
    transition: margin-left 0.5s;
  }

  .resumae--resizing .resumae__editor {
    transition: none;
  }

  .resumae__editor--hidden {
    margin-left: -50vw;
  }

  .resumae__preview {
    overflow: auto;
    width: 100%;
  }

  .resumae__container {
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .resumae--split {
  }

  .resumae__editor {
    position: fixed;
  }

  .resumae__editor--hidden {
    margin-left: -100vw;
  }
}
