.two-column-layout {
  display: flex;
}

.two-column-layout__left {
  width: 20%;
}

.two-column-layout__right {
  margin: 0 2em;
  width: 80%;
}

@media (max-width: 500px) {
  .two-column-layout {
    flex-wrap: wrap;
  }

  .two-column-layout__left {
    width: 100%;
  }

  .two-column-layout__right {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .resumae--split .two-column-layout {
    flex-wrap: wrap;
  }

  .resumae--split .two-column-layout__left {
    width: 100%;
  }

  .resumae--split .two-column-layout__right {
    margin: 0;
    width: 100%;
  }
}
